.footer {
    background-color: $header-darkbg;
    color: $light-color;
    width: 100%;
    min-width: 320px;
    padding: 3rem 1rem 0 1rem;
    margin-bottom: 0;
    font-family: $second-font;

    &__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        width: 100%;
    }

    .branding{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 2em;
        font-weight: bold;
        background-color: #333b48;
        padding: 10px;
        border-radius: 1.5rem;
        box-shadow: 0 8px 0 5px rgba(#22272f, 0.5);
        width: 100%;
        max-width: 400px;
        min-width: 280px;
        
        .text{
            padding: 0 10px;
            text-align: justify;
        }
    }

    h3{
        color: $light-color;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0;
        font-family: $base-font;
    }

    .copyright{
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .links > li {
        padding-top: 1.8rem;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: $variation-color;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    footer{
        padding: 1rem;
        margin: 0 auto;
        padding-top: 20px;
    }

    @media (max-width: 768px) {
        &__wrapper{
            flex-direction: column;
        }

        .branding{
            flex-direction: column;
        }

        .headings{
            padding-top: 3rem;
        }
        

        .links > li {
            padding-top: 1.8rem;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: $variation-color;
                cursor: pointer;
                text-decoration: underline;
            }
        }

        
    }

}