.mobile__container {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    font-size: 1.8rem;
    line-height: 1.5;

    .mobile__info-banner {
        background-color: rgba($green-color, 0.7);
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 20px;

        span {
            padding-top: 1.5rem;
            font-size: 1.2rem;
        }
    }

    .mobile__table {
        margin: 0 auto;
        width: 90%;
        font-size: 1.5rem;

        &-companies {
            margin: 3rem auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba($header-darkbg, 0.85);
            border-radius: 10px;
            padding: 15px 30px;
            text-align: center;
    
            a{
                color: $light-color;
                
                &:hover {
                    color: $variation-color;
                }
            }
    
            .currency_active {
                color: $variation-color;
            }
        }
        .currency {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            width: 100%;
            padding: 10px 20px;
            border-bottom: 1px solid $light-color;
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            color: $dark-color;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba($dark-color, 0.5);
            border-radius: 10px;

            img {
                width: 120px;
                height: 64px;
                object-fit: contain;
                margin-right: 10px;
            }

            &__data{
                
                span {
                    padding: .5rem;
                    display: block;
                    
                }
    
            }            
            
            &__btn{
                display: block;
                width: 100%;
                background-color: rgba($green-color, 0.7);
                color: #fff;
                padding: 15x;
                border-radius: 10px;

                &:hover {
                    background-color: $variation-color;
                    color: #fff;
                }
            }
        }

    }

}