@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
    width: 100%;
}

body{
    font-family: $base-font;
    font-size: $font-sizing;
    line-height: $line-height;
    background-color: $light-color;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: none;

    &:focus {
        outline: none;
    }
}

main {
    padding-top: 80px;
    font-size: calc($font-sizing);
}
